/* PAGE */

* {
  margin: 1%;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddebdd;
  font-family: "Oxygen", sans-serif;
  color: #3b3a37;
}

/* HEADER */

a {
  text-decoration: none;
}

.site-header {
  font-size: xx-large;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  background-color: #ddebdd;
  text-decoration: none;
  color: #022b02;
}

.site-header:hover {
  text-decoration: none;
  color: #077007;
}

/* NAVBAR */

.navbar {
  margin: 10px 0px 10px 0px;
  color: #022b02;
  /* border: 2px solid black */
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  margin: 0;
  list-style-type: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-link {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: #022b02;
  background-color: #ddebdd;
  border: 0.5px solid #022b028c;
  box-shadow: 3px 3px /* 15px */ #022b028c;
  transition: all 0.3s;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #022b02;
  font-size: 1em;
  transition: all 0.3s ease;
}

.nav-link:focus {
  box-shadow: inset 3px 3px /* 15px */ #022b028c;
}

/* ARTICLES */

.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #cbeecb; */
  border: 0.5px solid #022b028c;
  box-shadow: 3px 3px #022b028c;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  min-width: 500px;
  /* width: 80%; */
  padding: 10px;
  color: #022b02;
  background-color: #ddebdd;
  /* border: 3px solid #ee6e19; */
}

.article-head {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  color: #022b02;
}

/* ARTICLE CARDS */

.article-card {
  height: 150px;
  width: 400px;
  padding: 10px;
  color: #022b02;
  background-color: #f4f5f4;
  border: 1px solid #ddebdd;
  box-shadow: 3px 3px #022b028c;
  list-style: none;
}

.card-title a {
  text-decoration: none;
  color: #022b02;
  font-size: 1em;
  transition: all 0.3s ease;
}

.card-title a:hover {
  text-decoration: none;
  color: #077007;
  font-size: 1.005em;
}

.query-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.query {
  margin: 5px 15px;
}

.query-label {
  font-size: small;
  font-weight: bold;
}

/* SINGLE ARTICLE */

.an-article {
  gap: 30px;
  min-width: 500px;
  /* width: 80%; */
  padding: 10px;
  color: #022b02;
  background-color: #f4f5f4;
  border: 1px solid #ddebdd;
  box-shadow: 3px 3px #022b028c;
}

.an-article-head {
  margin: 10px 0px 0px 0px;
  padding: 10px 10px 0px 10px;
  color: #022b02;
}

.article-topic {
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 10px;
}

.article-body {
  padding: 1%;
  box-shadow: 3px 3px #022b028c;
  border: 1px solid black;
}

/* VOTES/ONIONS */

.onion-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}

.onion-counter {
  font-size: larger;
}

.onion-button {
  padding: 5px;
  font-weight: bold;
  background-color: #f4f5f4;
  box-shadow: 3px 3px #022b028c;
}

.onion-button:hover {
  background-color: #fefffe;
}

/* COMMENTS */

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddebdd;

  /* border: 0.5px solid #022b028c; */
  box-shadow: 3px 3px #022b028c;
}

.comments-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 10px;
  color: #022b02;
  background-color: #ddebdd;
}

.comment-card {
  width: 50%;
  padding: 10px;
  color: #022b02;
  background-color: #f4f5f4;
  border: 1px solid #ddebdd;
  box-shadow: 3px 3px #022b028c;
  list-style: none;
}

.comment-input {
  width: 98%;
}

.comment-button {
  align-self: center;
  padding: 2px;
  background-color: #f4f5f4;
  box-shadow: 3px 3px #022b028c;
}

.comment-button:hover {
  background-color: #fefffe;
}

/* USERS */

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddebdd;
  border: 0.5px solid #022b028c;
  box-shadow: 3px 3px #022b028c;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 500px;
  padding: 10px;
  color: #022b02;
  font-size: x-large;
}

.user-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #022b02;
  background-color: #f4f5f4;
  border: 1px solid #ddebdd;
  box-shadow: 3px 3px #022b028c;
  list-style: none;
}

.user-button {
  padding: 10px;
  font-size: larger;
  background-color: #ddebdd;
}

.user-button:hover {
  background-color: #e0f4e0;
}

/* PHONES  */

@media only screen and (max-width: 565px) {
  html {
    margin: 0px 25px;
    width: 250px;
  }

  .article-container {
    width: 175%;
    border: 0;
    box-shadow: 0px 0px #ddebdd;
  }

  .article-card {
    height: 150px;
    width: 300px;
  }

  .article-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    min-width: 500px;
    padding: 10px;
    color: #022b02;
    background-color: #ddebdd;
  }

  .nav-links {
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-item {
    margin: 10px;
    list-style-type: none;
  }

  .user-container {
    border: 0.5px solid #ddebdd;
    box-shadow: 3px 3px #ddebdd;
  }

  .user-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 0px;
    padding: 10px;
    color: #022b02;
    font-size: x-large;
  }

  .user-item {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    color: #022b02;
    background-color: #ddebdd;
    border: 1px solid #ddebdd;
    box-shadow: 3px 3px #ddebdd;
    list-style: none;
  }

  .user-button {
    padding: 10px;
    font-size: medium;
    background-color: #f4f5f4;
  }

  .an-article {
    min-width: 0px;
    font-size: medium;
  }

  .comment-card {
    width: 75%;
    font-size: small;
  }
}

