* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 500px;
  margin: auto;
  background-color: #ddebdd;
  font-family: 'Oxygen', sans-serif;
  color: #3b3a37;
}

.h1 {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  background-color: #ddebdd;
  color: #000000;
  border: 3px solid #000000;
  /* box-shadow: 3px 6px #132A13; */
}

.navbar {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  text-align: right;
  color: #720363d3;
  border: 3px solid #720363d3;
}

.article-list {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  color: #ee6e19;
  border: 3px solid #ee6e19;
}

/* palette notes
#132A13
#070f07
#F2E8CF
*/