/* PAGE */

* {
  margin: 1%;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddebdd;
  font-family: "Oxygen", sans-serif;
  color: #3b3a37;
}

/* HEADER */

a {
  text-decoration: none;
}

.site-header {
  font-size: xx-large;
  min-width: 500px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  background-color: #ddebdd;
  text-decoration: none;
  color: #022b02;
}

.site-header:hover {
  text-decoration: none;
  color: #077007;
}

/* NAVBAR */

.navbar {
  margin: 10px 0px 10px 0px;
  color: #022b02;
  /* border: 2px solid black */
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  margin: 0;
  list-style-type: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-link {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: #022b02;
  background-color: #ddebdd;
  border: 0.5px solid #022b028c;
  box-shadow: 3px 3px /* 15px */ #022b028c;
  transition: all 0.3s;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #022b02;
  font-size: 1em;
  transition: all 0.3s ease;
}

.nav-link:focus {
  box-shadow: inset 3px 3px /* 15px */ #022b028c;
}

/* ARTICLES */

.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #cbeecb; */
  border: 0.5px solid #022b028c;
  box-shadow: 3px 3px #022b028c;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  min-width: 500px;
  /* width: 80%; */
  padding: 10px;
  color: #022b02;
  background-color: #ddebdd;
  /* border: 3px solid #ee6e19; */
}

.article-head {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  color: #022b02;
}

.article-card {
  height: 150px;
  width: 400px;
  padding: 10px;
  color: #022b02;
  background-color: #f4f5f4;
  border: 1px solid #ddebdd;
  box-shadow: 3px 3px #022b028c;
  list-style: none;
}

/* ARTICLE CARDS */

.card-title a {
  text-decoration: none;
  color: #022b02;
  font-size: 1em;
  transition: all 0.3s ease;
}

.card-title a:hover {
  text-decoration: none;
  color: #077007;
  font-size: 1.005em;
}

/* SINGLE ARTICLE */

.an-article {
  gap: 30px;
  min-width: 500px;
  /* width: 80%; */
  padding: 10px;
  color: #022b02;
  background-color: #f4f5f4;
  border: 1px solid #ddebdd;
  box-shadow: 3px 3px #022b028c;
}

.an-article-head {
  margin: 10px 0px 0px 0px;
  padding: 10px 10px 0px 10px;
  color: #022b02;
}

.article-topic {
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 10px;
}

.article-body {
  
  border: 1px solid black;
}

/* VOTES/ONIONS */

.onion-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}

.onion-counter {
  font-size: larger;
}

.onion-button {
  padding: 5px;
  font-weight: bold;
  background-color: #f4f5f4;
  box-shadow: 3px 3px #022b028c;
}

.onion-button:hover {
  background-color: #fefffe;
}

/* COMMENTS */

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddebdd;

  /* border: 0.5px solid #022b028c; */
  box-shadow: 3px 3px #022b028c;
}

.comments-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 10px;
  color: #022b02;
  background-color: #ddebdd;
}

.comment-card {
  width: 50%;
  padding: 10px;
  color: #022b02;
  background-color: #f4f5f4;
  border: 1px solid #ddebdd;
  box-shadow: 3px 3px #022b028c;
  list-style: none;
}

/* PHONES  */

@media only screen and (max-width: 600px) {
  html {
    margin: 0px 25px;
    width: 250px;
  }

  * {
    overflow-x: hidden;
    max-width: 600px;
  }

  body {
    font-size: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 600px;
  }

  .App {
    max-width: 600px;
  }

  .article-card {
    max-width: 400px;
    min-width: 200px;
  }

  .h1 {
    max-width: 600px;
    text-align: left;
    background: transparent;
    z-index: -1;
    overflow: hidden;
  }

  .navbar {
    max-width: 600px;
  }

  .nav-item,
  .nav-link {
    position: relative;
  }

  .nav-list {
    display: block;

    font-size: 4px;
    max-width: 600px;
    list-style-type: none;
    box-shadow: none;
  }

  .nav-links {
    gap: 5px;
    box-shadow: none;
  }

  .nav-link,
  li {
    margin: 0;
    padding: 1px;
    border: 0px;
    box-shadow: none;
  }

  .nav-link:focus {
    box-shadow: none;
  }

  .article-container {
    max-width: 600px;
  }

  .article-list {
    max-width: 600px;
  }

  .an-article {
    gap: 30px;
    max-width: 280px;
  }
}
/* palette notes
#132A13
#070f07
#F2E8CF
*/
